<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
           http://mybatis.org/schema/mybatis-spring      http://mybatis.org/schema/mybatis-spring.xsd
           http://www.springframework.org/schema/aop     http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/tx      http://www.springframework.org/schema/tx/spring-tx.xsd
       ">
    <!-- MyBatis配置 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dynamicDataSource"/>
        <!-- 自动扫描domain目录, 省掉Configuration.xml里的手工配置 -->
        <property name="typeAliasesPackage"
                  value="cn.thinkjoy.common.managerui.domain,cn.thinkjoy.gaokao360.domain,cn.thinkjoy.gaokao360.dto,cn.thinkjoy.zgk.dto"/>
        <!-- 显式指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath*:/mybatis/**/*.xml"/>
    </bean>
    <!-- 扫描basePackage下接口 自动生成代理实现类 -->
    <mybatis:scan base-package="cn.thinkjoy.common.managerui.dao;cn.thinkjoy.gaokao360.dao"
                  factory-ref="sqlSessionFactory"/>

    <bean id="parentDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close">
        <!-- 基本属性 url、user、password -->
        <property name="url" value="${jdbc_url2}"/>
        <property name="username" value="${jdbc_user}"/>
        <property name="password" value="${jdbc_password}"/>

        <!-- 配置初始化大小、最小、最大 -->
        <property name="initialSize" value="1"/>
        <property name="minIdle" value="1"/>
        <property name="maxActive" value="20"/>

        <!-- 配置获取连接等待超时的时间 -->
        <property name="maxWait" value="60000"/>

        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>

        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="300000"/>

        <property name="validationQuery" value="SELECT 'x'"/>
        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>

        <!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
        <property name="poolPreparedStatements" value="true"/>
        <property name="maxPoolPreparedStatementPerConnectionSize" value="20"/>

        <!-- 配置监控统计拦截的filters -->
        <property name="filters" value="stat"/>


    </bean>
    <!--新疆维吾尔族自治区-->
    <bean id="xjDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_xj}"/>
    </bean>
    <!--江西省-->
    <bean id="jxDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_jx}"/>
    </bean>
    <!--辽宁省-->
    <bean id="lnDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_ln}"/>
    </bean>
    <!--江苏省-->
    <bean id="jsDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_js}"/>
    </bean>
    <!--广东省-->
    <bean id="gdDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_gd}"/>
    </bean>
    <!--吉林省-->
    <bean id="jlDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_jl}"/>
    </bean>
    <!--湖南省-->
    <bean id="hnDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_hn}"/>
    </bean>
    <!--宁夏回族自治区-->
    <bean id="nxDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_nx}"/>
    </bean>
    <!--天津市-->
    <bean id="tjDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_tj}"/>
    </bean>
    <!--黑龙江省-->
    <bean id="hlDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_hl}"/>
    </bean>
    <!--福建省-->
    <bean id="fjDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_fj}"/>
    </bean>
    <!--北京市-->
    <bean id="bjDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_bj}"/>
    </bean>
    <!--浙江省-->
    <bean id="zjDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_zj}"/>
    </bean>
    <!--山西省-->
    <bean id="sxDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_sx}"/>
    </bean>
    <!--陕西省-->
    <bean id="snDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_sn}"/>
    </bean>
    <!--贵州省-->
    <bean id="gzDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_gz}"/>
    </bean>
    <!--广西壮族自治区-->
    <bean id="gxDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_gx}"/>
    </bean>
    <!--山东省-->
    <bean id="sdDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_sd}"/>
    </bean>
    <!--四川省-->
    <bean id="scDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_sc}"/>
    </bean>
    <!--河北省-->
    <bean id="heDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_he}"/>
    </bean>
    <!--上海市-->
    <bean id="shDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_sh}"/>
    </bean>
    <!--湖北省-->
    <bean id="hbDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_hb}"/>
    </bean>
    <!--河南省-->
    <bean id="haDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_ha}"/>
    </bean>
    <!--重庆市-->
    <bean id="cqDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_cq}"/>
    </bean>
    <!--云南省-->
    <bean id="ynDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_yn}"/>
    </bean>
    <!--甘肃省-->
    <bean id="gsDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_gs}"/>
    </bean>
    <!--安徽省-->
    <bean id="ahDataSource" parent="parentDataSource">
        <property name="url" value="${jdbc_url_ah}"/>
    </bean>
    <!--&lt;!&ndash;内蒙古自治区&ndash;&gt;-->
    <!--<bean id="nmDataSource" parent="parentDataSource">-->
    <!--<property name="url" value="${jdbc_url_nm}"/>-->
    <!--</bean>-->
    <!--&lt;!&ndash;台湾省&ndash;&gt;-->
    <!--<bean id="twDataSource" parent="parentDataSource">-->
    <!--<property name="url" value="${jdbc_url_tw}"/>-->
    <!--</bean>-->
    <!--&lt;!&ndash;西藏自治区&ndash;&gt;-->
    <!--<bean id="xzDataSource" parent="parentDataSource">-->
    <!--<property name="url" value="${jdbc_url_xz}"/>-->
    <!--</bean>-->
    <!--&lt;!&ndash;澳门特别行政区&ndash;&gt;-->
    <!--<bean id="moDataSource" parent="parentDataSource">-->
    <!--<property name="url" value="${jdbc_url_mo}"/>-->
    <!--</bean>-->
    <!--&lt;!&ndash;青海省&ndash;&gt;-->
    <!--<bean id="qhDataSource" parent="parentDataSource">-->
    <!--<property name="url" value="${jdbc_url_qh}"/>-->
    <!--</bean>-->
    <!--&lt;!&ndash;海南省&ndash;&gt;-->
    <!--<bean id="hiDataSource" parent="parentDataSource">-->
    <!--<property name="url" value="${jdbc_url_hi}"/>-->
    <!--</bean>-->
    <!--&lt;!&ndash;香港特别行政区&ndash;&gt;-->
    <!--<bean id="hkDataSource" parent="parentDataSource">-->
    <!--<property name="url" value="${jdbc_url_hk}"/>-->
    <!--</bean>-->
    <bean id="dynamicDataSource" class="cn.thinkjoy.gaokao360.common.DynamicDataSource">
        <!-- 通过key-value的形式来关联数据源 -->
        <property name="targetDataSources">
            <map>
                <!--新疆维吾尔族自治区-->
                <entry value-ref="xjDataSource" key="xj"></entry>
                <!--江西省-->
                <entry value-ref="jxDataSource" key="jx"></entry>
                <!--辽宁省-->
                <entry value-ref="lnDataSource" key="ln"></entry>
                <!--江苏省-->
                <entry value-ref="jsDataSource" key="js"></entry>
                <!--广东省-->
                <entry value-ref="gdDataSource" key="gd"></entry>
                <!--吉林省-->
                <entry value-ref="jlDataSource" key="jl"></entry>
                <!--湖南省-->
                <entry value-ref="hnDataSource" key="hn"></entry>
                <!--宁夏回族自治区-->
                <entry value-ref="nxDataSource" key="nx"></entry>
                <!--天津市-->
                <entry value-ref="tjDataSource" key="tj"></entry>
                <!--黑龙江省-->
                <entry value-ref="hlDataSource" key="hl"></entry>
                <!--福建省-->
                <entry value-ref="fjDataSource" key="fj"></entry>
                <!--北京市-->
                <entry value-ref="bjDataSource" key="bj"></entry>
                <!--浙江省-->
                <entry value-ref="zjDataSource" key="zj"></entry>
                <!--山西省-->
                <entry value-ref="sxDataSource" key="sx"></entry>
                <!--陕西省-->
                <entry value-ref="snDataSource" key="sn"></entry>
                <!--贵州省-->
                <entry value-ref="gzDataSource" key="gz"></entry>
                <!--广西壮族自治区-->
                <entry value-ref="gxDataSource" key="gx"></entry>
                <!--山东省-->
                <entry value-ref="sdDataSource" key="sd"></entry>
                <!--四川省-->
                <entry value-ref="scDataSource" key="sc"></entry>
                <!--河北省-->
                <entry value-ref="heDataSource" key="he"></entry>
                <!--上海市-->
                <entry value-ref="shDataSource" key="sh"></entry>
                <!--湖北省-->
                <entry value-ref="hbDataSource" key="hb"></entry>
                <!--河南省-->
                <entry value-ref="haDataSource" key="ha"></entry>
                <!--重庆市-->
                <entry value-ref="cqDataSource" key="cq"></entry>
                <!--云南省-->
                <entry value-ref="ynDataSource" key="yn"></entry>
                <!--甘肃省-->
                <entry value-ref="gsDataSource" key="gs"></entry>
                <!--安徽省-->
                <entry value-ref="ahDataSource" key="ah"></entry>
                <!--内蒙古自治区-->
                <!--<entry value-ref="nmDataSource" key="nm"></entry>-->
                <!--香港特别行政区-->
                <!--<entry value-ref="hkDataSource" key="hk"></entry>-->
                <!--台湾省-->
                <!--<entry value-ref="twDataSource" key="tw"></entry>-->
                <!--澳门特别行政区-->
                <!--<entry value-ref="moDataSource" key="mo"></entry>-->
                <!--海南省-->
                <!--<entry value-ref="hiDataSource" key="hi"></entry>-->
                <!--青海省-->
                <!--<entry value-ref="qhDataSource" key="qh"></entry>-->
                <!--西藏自治区-->
                <!--<entry value-ref="xzDataSource" key="xz"></entry>-->
            </map>
        </property>
        <property name="defaultTargetDataSource" ref="parentDataSource"/>
    </bean>
</beans>
